<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>component</th>
      <th>comp_amt</th>
      <th>cas_no</th>
      <th>mw</th>
      <th>antoine_coef_a</th>
      <th>antoine_coef_b</th>
      <th>antoine_coef_c</th>
      <th>comp_vp</th>
      <th>comp_vp_tlx</th>
      <th>comp_vp_tln</th>
      <th>comp_mole</th>
      <th>comp_mole_xi</th>
      <th>comp_partial</th>
      <th>comp_vap_mole_frac</th>
      <th>comp_vapor_mw_xi</th>
      <th>comp_partial_tln</th>
      <th>comp_partial_tlx</th>
      <th>vap_mole_xi</th>
      <th>vap_wt_xi</th>
      <th>stand_loss_xi</th>
      <th>work_loss_xi</th>
      <th>total_loss_xi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Cyclohexane</td>
      <td>101</td>
      <td>00110-82-7</td>
      <td>84.15999999999998</td>
      <td>6.841</td>
      <td>1201.53</td>
      <td>222.65</td>
      <td>1.367083</td>
      <td>1.535511</td>
      <td>1.214215</td>
      <td>1.200095</td>
      <td>0.030002</td>
      <td>0.041015</td>
      <td>0.032626</td>
      <td>2.745836</td>
      <td>0.036428</td>
      <td>0.046068</td>
      <td>274.583636</td>
      <td>0.034933</td>
      <td>1.045611</td>
      <td>0.691550</td>
      <td>1.737161</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Benzene</td>
      <td>2812</td>
      <td>00071-43-2</td>
      <td>78.11</td>
      <td>6.905</td>
      <td>1211.033</td>
      <td>220.79</td>
      <td>1.321715</td>
      <td>1.488627</td>
      <td>1.170618</td>
      <td>36.000512</td>
      <td>0.899990</td>
      <td>1.189530</td>
      <td>0.946247</td>
      <td>73.911388</td>
      <td>1.053545</td>
      <td>1.339750</td>
      <td>7391.138838</td>
      <td>0.940306</td>
      <td>28.145360</td>
      <td>18.614889</td>
      <td>46.760249</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Toluene</td>
      <td>258</td>
      <td>00108-88-3</td>
      <td>92.13</td>
      <td>6.954</td>
      <td>1344.8</td>
      <td>219.48</td>
      <td>0.379353</td>
      <td>0.433539</td>
      <td>0.331014</td>
      <td>2.800391</td>
      <td>0.070008</td>
      <td>0.026558</td>
      <td>0.021126</td>
      <td>1.946354</td>
      <td>0.023174</td>
      <td>0.030351</td>
      <td>194.635373</td>
      <td>0.024762</td>
      <td>0.741169</td>
      <td>0.490197</td>
      <td>1.231366</td>
    </tr>
  </tbody>
</table>