<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>component</th>
      <td>Cyclohexane</td>
      <td>Benzene</td>
      <td>Toluene</td>
    </tr>
    <tr>
      <th>comp_amt</th>
      <td>101</td>
      <td>2812</td>
      <td>258</td>
    </tr>
    <tr>
      <th>cas_no</th>
      <td>00110-82-7</td>
      <td>00071-43-2</td>
      <td>00108-88-3</td>
    </tr>
    <tr>
      <th>mw</th>
      <td>84.15999999999998</td>
      <td>78.11</td>
      <td>92.13</td>
    </tr>
    <tr>
      <th>antoine_coef_a</th>
      <td>6.841</td>
      <td>6.905</td>
      <td>6.954</td>
    </tr>
    <tr>
      <th>antoine_coef_b</th>
      <td>1201.53</td>
      <td>1211.033</td>
      <td>1344.8</td>
    </tr>
    <tr>
      <th>antoine_coef_c</th>
      <td>222.65</td>
      <td>220.79</td>
      <td>219.48</td>
    </tr>
    <tr>
      <th>comp_vp</th>
      <td>1.36708</td>
      <td>1.32171</td>
      <td>0.379353</td>
    </tr>
    <tr>
      <th>comp_vp_tlx</th>
      <td>1.53551</td>
      <td>1.48863</td>
      <td>0.433539</td>
    </tr>
    <tr>
      <th>comp_vp_tln</th>
      <td>1.21422</td>
      <td>1.17062</td>
      <td>0.331014</td>
    </tr>
    <tr>
      <th>comp_mole</th>
      <td>1.2001</td>
      <td>36.0005</td>
      <td>2.80039</td>
    </tr>
    <tr>
      <th>comp_mole_xi</th>
      <td>0.0300016</td>
      <td>0.89999</td>
      <td>0.070008</td>
    </tr>
    <tr>
      <th>comp_partial</th>
      <td>0.0410147</td>
      <td>1.18953</td>
      <td>0.0265578</td>
    </tr>
    <tr>
      <th>comp_vap_mole_frac</th>
      <td>0.0326264</td>
      <td>0.946247</td>
      <td>0.0211262</td>
    </tr>
    <tr>
      <th>comp_vapor_mw_xi</th>
      <td>2.74584</td>
      <td>73.9114</td>
      <td>1.94635</td>
    </tr>
    <tr>
      <th>comp_partial_tln</th>
      <td>0.0364284</td>
      <td>1.05355</td>
      <td>0.0231737</td>
    </tr>
    <tr>
      <th>comp_partial_tlx</th>
      <td>0.0460678</td>
      <td>1.33975</td>
      <td>0.0303512</td>
    </tr>
    <tr>
      <th>vap_mole_xi</th>
      <td>274.584</td>
      <td>7391.14</td>
      <td>194.635</td>
    </tr>
    <tr>
      <th>vap_wt_xi</th>
      <td>0.0349327</td>
      <td>0.940306</td>
      <td>0.0247616</td>
    </tr>
    <tr>
      <th>stand_loss_xi</th>
      <td>1.04561</td>
      <td>28.1454</td>
      <td>0.741169</td>
    </tr>
    <tr>
      <th>work_loss_xi</th>
      <td>0.69155</td>
      <td>18.6149</td>
      <td>0.490197</td>
    </tr>
    <tr>
      <th>total_loss_xi</th>
      <td>1.73716</td>
      <td>46.7602</td>
      <td>1.23137</td>
    </tr>
  </tbody>
</table>