<table border="1" class="dataframe emission summary">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>facility_name</th>
      <td>Test Oil Terminals, LLC</td>
      <td>Test Oil Terminals, LLC</td>
      <td>Test Oil Terminals, LLC</td>
    </tr>
    <tr>
      <th>tank_name</th>
      <td>Tank 10001</td>
      <td>Tank 10001</td>
      <td>Tank 10001</td>
    </tr>
    <tr>
      <th>tank_type</th>
      <td>Vertical</td>
      <td>Vertical</td>
      <td>Vertical</td>
    </tr>
    <tr>
      <th>component</th>
      <td>Cyclohexane</td>
      <td>Benzene</td>
      <td>Toluene</td>
    </tr>
    <tr>
      <th>cas_no</th>
      <td>00110-82-7</td>
      <td>00071-43-2</td>
      <td>00108-88-3</td>
    </tr>
    <tr>
      <th>mw</th>
      <td>84.15999999999998</td>
      <td>78.11</td>
      <td>92.13</td>
    </tr>
    <tr>
      <th>component</th>
      <td>Cyclohexane</td>
      <td>Benzene</td>
      <td>Toluene</td>
    </tr>
    <tr>
      <th>comp_amt</th>
      <td>101</td>
      <td>2812</td>
      <td>258</td>
    </tr>
    <tr>
      <th>antoine_coef_a</th>
      <td>6.841</td>
      <td>6.905</td>
      <td>6.954</td>
    </tr>
    <tr>
      <th>antoine_coef_b</th>
      <td>1201.53</td>
      <td>1211.033</td>
      <td>1344.8</td>
    </tr>
    <tr>
      <th>antoine_coef_c</th>
      <td>222.65</td>
      <td>220.79</td>
      <td>219.48</td>
    </tr>
    <tr>
      <th>comp_vp</th>
      <td>1.45389</td>
      <td>1.40769</td>
      <td>0.407165</td>
    </tr>
    <tr>
      <th>comp_vp_tlx</th>
      <td>1.66942</td>
      <td>1.62162</td>
      <td>0.47725</td>
    </tr>
    <tr>
      <th>comp_vp_tln</th>
      <td>1.26186</td>
      <td>1.21767</td>
      <td>0.34599</td>
    </tr>
    <tr>
      <th>comp_mole</th>
      <td>1.2001</td>
      <td>36.0005</td>
      <td>2.80039</td>
    </tr>
    <tr>
      <th>comp_mole_xi</th>
      <td>0.0300016</td>
      <td>0.89999</td>
      <td>0.070008</td>
    </tr>
    <tr>
      <th>comp_partial</th>
      <td>0.0436191</td>
      <td>1.26691</td>
      <td>0.0285048</td>
    </tr>
    <tr>
      <th>comp_vap_mole_frac</th>
      <td>0.0325752</td>
      <td>0.946137</td>
      <td>0.0212877</td>
    </tr>
    <tr>
      <th>comp_vapor_mw_xi</th>
      <td>2.74153</td>
      <td>73.9028</td>
      <td>1.96123</td>
    </tr>
    <tr>
      <th>comp_partial_tln</th>
      <td>0.0378579</td>
      <td>1.09589</td>
      <td>0.0242221</td>
    </tr>
    <tr>
      <th>comp_partial_tlx</th>
      <td>0.0500852</td>
      <td>1.45944</td>
      <td>0.0334113</td>
    </tr>
    <tr>
      <th>vap_mole_xi</th>
      <td>274.153</td>
      <td>7390.28</td>
      <td>196.123</td>
    </tr>
    <tr>
      <th>vap_wt_xi</th>
      <td>0.034877</td>
      <td>0.940173</td>
      <td>0.0249503</td>
    </tr>
    <tr>
      <th>stand_loss_xi</th>
      <td>1.36748</td>
      <td>36.863</td>
      <td>0.978272</td>
    </tr>
    <tr>
      <th>work_loss_xi</th>
      <td>0.732211</td>
      <td>19.7381</td>
      <td>0.52381</td>
    </tr>
    <tr>
      <th>total_loss_xi</th>
      <td>2.0997</td>
      <td>56.6011</td>
      <td>1.50208</td>
    </tr>
  </tbody>
</table>